<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Feedbacker</title>
    <link rel="stylesheet" type="text/css" href="static/view.css" media="all">
    <script type="text/javascript" src="static/view.js"></script>   
</head>

<body id="main_body">

    <img id="top" src="../resource/top.png" alt="">
    <div id="form_container">

        <h1><a>Register Here</a></h1>
        <form id="form_117887" class="appnitro" enctype="multipart/form-data" method="post" action="/">
            <div class="form_description">
                <h2>Register Here</h2>
                <p>Enter the following details</p>
            </div>
            <ul>

                <li id="li_1">
                    <label class="description" for="element_1">Faculty Name </label>                    
                    <div>
                        <input id="element_1_1" name="f_name" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>                    
                </li>
                <li id="li_3">
                    <label class="description" for="element_3">Subject Code </label>
                    <div>
                        <input id="element_3" name="sub_code" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>
                </li>
                <li id="li_2">
                    <label class="description" for="element_2">Subject Name </label>
                    <div>
                        <input id="element_2" name="sub_name" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>
                </li>
                <li id="li_8">
                    <label class="description" for="element_8">Program </label>
                    <div>
                        <select class="element select medium" id="element_8" name="program_name">                            
                            <option value="1">BTECH</option>
                            <option value="2">MTECH</option>

                        </select>
                    </div>
                </li>
                <li id="li_9">
                    <label class="description" for="element_9">Department </label>
                    <div>
                        <select class="element select medium" id="element_9" name="dept_name">
                            <option value="" selected="selected"></option>
                            <option value="1">CE</option>
                            <option value="2">IT</option>
                            <option value="3">CSE</option>

                        </select>
                    </div>
                </li>
                <li id="li_10">
                    <label class="description" for="element_10">Semester </label>
                    <div>
                        <select class="element select medium" id="element_10" name="sem_name">
                            <option value="" selected="selected"></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>

                        </select>
                    </div>
                </li>
                <li id="li_4">
                    <label class="description" for="element_4">Academic Year</label>
                    <div>
                        <input id="element_4" name="aca_year" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>

                </li>
                <li id="li_5">
                    <label class="description" for="element_5">Number Of Students </label>
                    <div>
                        <input id="element_5" name="no_student" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>
                </li>
                <li id="li_6">
                    <label class="description" for="element_6">Number Of Feedback </label>
                    <div>
                        <input id="element_6" name="no_feed" class="element text medium" type="text" maxlength="255"
                            value="" />
                    </div>
                </li>
                <li id="li_7">
                    <label class="description" for="element_7">Upload a PDF </label>
                    <div>
                        <input id="element_7" name="up_pdf" class="element file" type="file" enctpye="multipart/form-data" />
                    </div>
                </li>

                <li class="buttons">
                    <input type="hidden" name="form_id" value="117887" />

                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                </li>
            </ul>
        </form>
        <div id="footer">
            Feedbacker
        </div>
    </div>
    <img id="bottom" src="../resource/bottom.png" alt="">
</body>

</html>